.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;Curtis Lee Bolin 2015
		p Powered by 
			a(href='//nodejs.org/', target='_blank') Node.js
			| , 
			a(href='//expressjs.com/', target='_blank') Express
			| , 
			a(href='//jade-lang.com/', target='_blank') Jade
			| , and 
			a(href='//getbootstrap.com/', target='_blank') Bootstrap
block footer
