extends layout

block content
	.container
		h1 App Name
		p Hello World

	script.
		var el = document.getElementById('menu-home');
		if(el) {
			el.className += el.className ? ' active' : 'active';
		}
